{% load static %}
<!DOCTYPE html>
<html>
<head> 
    <style>
        @media only screen and (max-width: 1200px) {
          #blur {
            background-color: rgba(243, 246, 255, 0.5);
          }
        }
      </style>
</head>
<body>
<!-- Footer Start -->
<div id="footer" class="container-fluid footer py-5" >
    <div id="blur" class="container text-center py-5">
        <div class="row">
            <div class="col-12 mb-4">
                <a href="index.html" class="navbar-brand m-0">
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary"><img
                                src="{% static 'home/img/rosecab.png' %}" alt="logo" style="height: 100px;"></span></h1>
                </a>
            </div>
            <div class="col-12 mb-4">
                <a id="twitter" class="btn btn-social mr-2" href="https://x.com/Rosecab_flowers"><i
                        class="fab fa-twitter" target="_blank"></i></a>
                <a id="facebook" class="btn btn-social mr-2" href="https://www.facebook.com/RosecabFlowers/"><i
                        class="fab fa-facebook-f" target="_blank"></i></a>
                <a id="whatsapp" class="btn btn-social mr-2" href="https://wa.me/c/256784739326/"><i
                        class="fab fa-whatsapp" target="_blank"></i></a>
                <a id="instagram" class="btn btn-social mr-2" href="https://www.instagram.com/rosecabflowers/"><i
                        class="fab fa-instagram" target="_blank"></i></a>
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                        <h5 class="font-weight-bold mb-2">Get In Touch</h5>
                        <p class="mb-2">Shop No C3-455</p>
                        <p class="mb-2"> Arua Park, Plaza</p>
                        <a href="tel:+256 784 739326"><p class="mb-0">+256 784 739326</p></a>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <h5 class="font-weight-bold mb-2">Opening Hours</h5>
                        <p class="mb-2">Mon – Fri, 8AM – 8PM</p>
                        <p class="mb-2">Saturday: 8:30AM–5PM</p>
                        <p class="mb-0">Sunday: 8:30AM – 5PM</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="m-0">&copy;2024 All Rights Reserved. Designed for <a href="#">Rosecab Flower
                        Deliveries</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Footer End -->


</html>
