{%load static%}
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div id="services" class="col-lg-6 ">
                <h1 class="section-title position-relative  mb-5">Our Services</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/SFBX-1.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Regular Flower Box</h5>
                            <p id="serve">We make regular flower boxes made up of 40 stems at UGX&nbsp;80,000/=</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/portfolio-10.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Regular Flower Bouquets</h5>
                            <p id="serve">We have regular flower bouquets made up of 30 stems at UGX&nbsp;60,000/=</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/portfolio-1.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Medium&nbsp;Flower&nbsp;Bouquets</h5>
                            <p id="serve">We have medium flower bouquets made up of 60 stems at UGX&nbsp;100,000/=</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="{% static 'home/img/LFB-2.jpg' %}"
                                style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Large Flower Bouquets</h5>
                            <p id="serve">We have large flower bouquets made up of 100 stems at UGX&nbsp;160,000/=</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/rgallery-9.jpeg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Extra Large Flower Bouquets</h5>
                            <p id="serve">We have extra large flower bouquets made up of 200 stems at UGX&nbsp;300,000/=
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>

                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/portfolio-2.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Medium Flower Box</h5>
                            <p id="serve">We make medium flower boxes made up of 60 stems at UGX&nbsp;120,000/=</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/MFBX-2.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Large Flower Boxes</h5>
                            <p id="serve">We make large flower boxes made up of 100 stems at UGX&nbsp;180,000/=</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/LFBX-1.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Extra Large Flower Boxes</h5>
                            <p id="serve">We make extra large flower boxes made up of 200 stems at UGX&nbsp;340,000/=
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- PRICE LIST -->
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/portfolio-11.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Giagantic Flower Boxes</h5>
                            <p id="serve">We have giagantic flower boxes made up of 500 stems at UGX&nbsp;1,000,000/=
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- END PRICE LIST -->

                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/service-2.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Fast Delivery</h5>
                            <p id="serve">We do next-day delivery as well as same day delivery depending on your choice
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/service-3.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Flower Bouquets</h5>
                            <p id="serve">Choose from our available packages or make your custom order and we'll make
                                it happen
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/service-4.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">For your loved ones</h5>
                            <p id="serve">We are more than happy to have a hand in making your loved ones happy. Just an
                                order away
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3"
                                src="{% static 'home/img/portfolio-8.jpg' %}" style="object-fit: cover;">
                        </div>
                        <div id='service-card' class="position-relative text-center bg-light rounded p-4 pb-5"
                            style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Available Add-Ons</h5>
                            <p id="serve">Butterflies, Fairy lights, Mini crowns, Wine, Chocolates & Customized
                                Ballons
                            </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'store:products' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%else%}
                            <a href="{% url 'users:login' %}"
                                class="border-bottom border-secondary text-decoration-none text-secondary">Shop
                                now</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->