{% extends 'admin_base.html' %}
{% block content %}

<div class="card shadow">
    <div class="card-body">
        <h1 class="p-2 text-center mb-4" style="border-bottom: 2px solid orange; font-family: 'Georgia', sans-serif; font-size: 2.5em; text-transform: uppercase;">
            Add Product</h1>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <h5 class="p-2" style="border-bottom: 2px solid orange;">If the product has a single price, enter the price in the 'Price' field below and save.</h5>
                
                <div class="container-fluid">
                    {{ product_form.price.label_tag }}
                    {{ product_form.price }}
                    
                    {{ product_form.as_p }}
                    
                    <h5 class="mt-4">If the product has many prices, enter the common details in the upper section.</h5>
                    <h5 class="mt-4">You can then add each size with its price using the fields below (To delete, check the delete box).</h5>
                    
                    <table id="variant-table" class="table">
                        {{ variant_formset.management_form }}
                        {{ variant_formset.as_table }}
                    </table>
                </div>

                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}
