{% extends 'admin_base.html' %}
{%block title%}Rosecab | Add Variants{%endblock%}
{% block content %}


<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Product Variant</h5>
        <div class="container-fluid">
            <form action="" method="post">
                {% csrf_token %}
                <!-- Product details -->
                <h6 class="mt-3">Product: {{ product.name }}</h6>
                
                <!-- Product variant form -->
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Title" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Size</label>
                            <select name="size" class="form-control" required>
                                <option value="" selected disabled>Choose Size</option>
                                {% for size in sizes %}
                                    <option value="{{ size.id }}">{{ size.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" name="price" class="form-control" placeholder="Price" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Add Variant" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}
