{%load static%}
<!--vertical navbar start-->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-1 bg-light">
        <!--align media objects (like images or videos) together with content
        To create a flexbox container and to transform direct children into flex items, use the d-flex class
        -->
        <a href="/"> <p class="font-weight-bold text-uppercase px-3 small dashboard-text text-center">ROSECAB</p></a>
        <div class="media d-flex align-items-center">
            <img src="{% static 'images/adminlogo.png' %}" width="80" height="80"
                 class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="mb-0">{{request.user.username}}</h4>
                <p class="text-muted mb-0">{{request.user.email}}</p>
            </div>
        </div>
    </div>


    <!--.flex-column to display the flex items vertically (on top of each other)-->
    <ul class="nav flex-column bg-white">
        <li class="nav-item">
            <a href="/admindashboard/" class="nav-link text-dark bg-light">
                <i class="fas fa-tachometer-alt fa-fw mr-3 text-primary"></i>
                Dashboard
            </a>
        </li>
        <!--fa-fw class is used to set icons at a fixed width. This class is useful when different icon widths throw off alignment-->

 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="/#cat-menu" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-list-ul mr-3 text-primary fa-fw"></i> Categories
            </a>
            <div id="cat-menu"class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a>
                <a class="dropdown-item" href="{% url 'view_category' %}">View Category</a>
            </div>
        </li>



        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="/#size-menu" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-chart-line mr-3 text-primary fa-fw"></i> Sizes
            </a>
            <div id="size-menu" class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'add_size' %}">Add Size</a>
                <a class="dropdown-item" href="{% url 'view_size' %}">View Size</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="/#product-menu" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-shopping-bag mr-3 text-primary fa-fw"></i> Products
            </a>
            <div id="product-menu" class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'view_product_variants' %}">Inventory</a>
                <a class="dropdown-item" href="{% url 'add_product' %}">Add Product</a>
                <a class="dropdown-item" href="{% url 'view_product' %}">View Products</a>
        </li>       

        {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark bg-light" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-users mr-3 text-primary fa-fw"></i> Manage Users
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'user_list' %}">View User</a>

 
            </div>
        </li> {% endcomment %}
        <li class="nav-item">
            <a href="{% url 'user_list' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-users mr-3 text-primary fa-fw"></i>
                Manage Users
            </a>
         </li>
        <li class="nav-item">
            <a href="{% url 'view_orders' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-shopping-basket mr-3 text-primary fa-fw"></i>
                Manage Orders
            </a>
         </li>{% comment %}
        <li class="nav-item">
            <a href="" class="nav-link text-dark bg-light">
                <i class="fas fa-cog mr-3 text-primary fa-fw"></i>
                Manage Feedback
            </a>
        </li> {% endcomment %}
        <li class="nav-item">
            <a href="" class="nav-link text-dark bg-light">
                <i class="fas fa-key mr-3 text-primary fa-fw"></i>
                Change Password
            </a>
        </li>
        <li class="nav-item">
            <a href="/logout/" class="nav-link text-dark bg-light">
                <i class="fas fa-sign-out-alt mr-3 text-primary fa-fw"></i>
                Logout
            </a>
        </li>

 
    </ul>
</div>
<!--vertical navbar end-->