{%load static%}
<!--vertical navbar start-->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-1 bg-light">
        <!--align media objects (like images or videos) together with content
        To create a flexbox container and to transform direct children into flex items, use the d-flex class
        -->
        <a href="/"> <p class="font-weight-bold text-uppercase px-3 small dashboard-text text-center text-warning">ROSECAB</p></a>

        <div class="media d-flex align-items-center">
            <img src="{% static 'images/adminlogo.png' %}" width="80" height="80"
                 class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="mb-0">{{request.user.username}}</h4>
                <p class="text-muted mb-0">{{request.user.email}}</p>
            </div>
        </div>
    </div>


    <!--.flex-column to display the flex items vertically (on top of each other)-->
    <ul class="nav flex-column bg-white">



        <li class="nav-item">
            <a href="" class="nav-link text-dark bg-light">
                <i class="fas fa-key mr-3 text-warning fa-fw"></i>
                Change Password
            </a>
        </li>
        <!--fa-fw class is used to set icons at a fixed width. This class is useful when different icon widths throw off alignment-->

        <li class="nav-item">
            <a href="/admindashboard/" class="nav-link text-dark bg-light">
                <i class="fas fa-tachometer-alt fa-fw mr-3 text-warning"></i>
                Dashboard
            </a>
        </li>






        
        <li class="nav-item">
            <a href="{% url 'view_category' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-list-ul mr-3 text-warning fa-fw"></i>
                Categories
            </a>
         </li>


         <li class="nav-item">
            <a href="{% url 'view_product_variants' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-box mr-3 text-warning fa-fw"></i>
                Inventory
            </a>
         </li>


         <li class="nav-item">
            <a href="{% url 'admin_add' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-crown mr-3 text-warning fa-fw"></i>
                Add Staff
            </a>
        </li>

         <li class="nav-item">
            <a href="{% url 'view_product' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-shopping-bag mr-3 text-warning fa-fw"></i>
                Products
            </a>
         </li>






         <li class="nav-item">
            <a href="{% url 'view_orders' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-shopping-basket mr-3 text-warning fa-fw"></i>
                Orders
            </a>
         </li>

         <li class="nav-item">
            <a href="{% url 'view_size' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-chart-line mr-3 text-warning fa-fw"></i>
                Sizes
            </a>
         </li>






        <li class="nav-item">
            <a href="{% url 'user_list' %}" class="nav-link text-dark bg-light">
                <i class="fas fa-users mr-3 text-warning fa-fw"></i>
                Users
            </a>
         </li>

         
         {% comment %}
        <li class="nav-item">
            <a href="" class="nav-link text-dark bg-light">
                <i class="fas fa-cog mr-3 text-primary fa-fw"></i>
                Manage Feedback
            </a>
        </li> {% endcomment %}

        <li class="nav-item">
            <a href="/logout/" class="nav-link text-dark bg-light">
                <i class="fas fa-sign-out-alt mr-3 text-warning fa-fw"></i>
                Logout
            </a>
        </li>

 
    </ul>
</div>
<!--vertical navbar end-->