{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h1 class="p-2 text-center" style="border-bottom: 2px solid orange; font-family: 'Georgia', sans-serif; font-size: 2.5em; text-transform: uppercase;">
            All Sizes
        </h1>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" style="border: 2px solid black;" id="example">
                    <thead style="background-color: black; color: white;">
                        <tr>
                            <th style="border: 1px solid black;">S. No.</th>
                            <th style="border: 1px solid black;">Size Name</th>
                            <th style="border: 1px solid black;" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in size %}
                            <tr>
                                <td style="border: 1px solid black;">{{ forloop.counter }}</td>
                                <td style="border: 1px solid black;">{{ i.name }}</td>
                                <td style="border: 1px solid black;" class="text-center">
                                    <a href="/edit-size/{{ i.id }}/" class="text-success">Edit</a>
                                    <a href="/delete-size/{{ i.id }}/" class="text-danger ml-2" onclick="return confirm('Are You Sure You Want To Delete This Size?')">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Floating plus icon button with link (green, font-size: 32px) -->
<a href="{% url 'add_size' %}" style="position: fixed; bottom: 30px; right: 30px;">
    <i class="fa fa-plus" style="font-size: 32px; color: green;"></i>
</a>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- JavaScript for user table -->
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>

{% endblock %}
