{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h1 class="p-2 text-center" style="border-bottom: 2px solid orange; font-family: 'Georgia', sans-serif; font-size: 2.5em; text-transform: uppercase;">
            All Products
        </h1>

        <!-- Floating plus icon button with link (red, font-size: 24px) -->
        <a href="{% url 'add_product' %}" style="position: fixed; bottom: 30px; right: 30px;">
            <i class="fa fa-plus" style="font-size: 32px; color: green;"></i>
        </a>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-auto" style="border: 2px solid black;" id="productTable">
                    <thead style="background-color: black; color: white;">
                        <tr>
                            <th style="color: white; border: 1px solid black;">S.No.</th>
                            <th style="color: white; border: 1px solid black;">Image</th>
                            <th style="color: white; border: 1px solid black;">Product Name</th>
                            <th style="color: white; border: 1px solid black;">Category</th>
                            <th style="color: white; border: 1px solid black;">Price</th>
                            <th style="color: white; text-align: center; border: 1px solid black;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in product %}
                            <tr>
                                <td style="border: 1px solid black;">{{ forloop.counter }}</td>
                                <td style="border: 1px solid black;"><img src="{{ i.image.url }}" style="width: 100%; max-width: 100px;" /></td>
                                <td style="border: 1px solid black;">{{ i.name }}</td>
                                <td style="border: 1px solid black;">{{ i.product_category.name }}</td>
                                <td style="border: 1px solid black;">
                                    {% if i.price %}
                                        ${{ i.price }}
                                    {% endif %}
                                    {% for variant in i.get_product_variants %}
                                        {% if variant.title %}
                                            <br>{{ variant.get_size }}- ${{ variant.price }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="text-center" style="border: 1px solid black;">
                                    <a href="/edit-product/{{ i.id }}/" class="text-success">Edit</a>
                                    <a href="/delete-product/{{ i.id }}/" class="text-danger" onclick="return confirm('Are You Sure You Want To Delete This Product?')">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Custom styles for product table -->
<style>
    #productTable th,
    #productTable td {
        text-align: left;
        padding: 8px; /* Adjust the padding as needed */
        cursor: pointer;
        user-select: none;
    }

    #productTable th span,
    #productTable th a,
    #productTable th div {
        margin-right: 4px; /* Adjust the margin as needed */
    }

    #productTable th:hover {
        background-color: #343a40 !important;
    }
</style>

<!-- JavaScript for product table -->
<script>
    $(document).ready(function() {
        $('#productTable').DataTable();
    });
</script>

{% endblock %}
