{% extends 'admin_base.html' %}
{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h1 class="p-2 text-center mb-4" style="border-bottom: 2px solid orange; font-family: 'Georgia', sans-serif; font-size: 2.5em; text-transform: uppercase;">Edit Order</h1>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" action="{% url 'edit_order' order.transaction_id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="m-2 px-3 btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
