{% extends 'admin_base.html' %}

{% block main %}
<div class="card shadow">
    <div class="card-body">
        <h1 class="p-2 text-center" style="border-bottom: 2px solid orange; font-family: 'Georgia', sans-serif; font-size: 2.5em; text-transform: uppercase;">All Products</h1>
        <div class="container-fluid">
            <table class="table table-bordered table-striped" style="border: 2px solid black;" id="example">
                <thead style="background-color: black; color: white;">
                    <tr>
                        <th>S.No.</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in product %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><img src="{{ i.image.url }}" style="width: 100px" /></td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.product_category.name }}</td>
                            <td>
                                {% if i.price %}
                                    ${{ i.price }}
                                {% endif %}
                                {% for variant in i.get_product_variants %}
                                    {% if variant.title %}
                                        <br>{{ variant.get_size }}- ${{ variant.price }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                <a href="/edit-product/{{ i.id }}/" class="text-success">Edit</a>
                                <a href="/delete-product/{{ i.id }}/" class="text-danger" onclick="return confirm('Are You Sure?')">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- JavaScript for user table -->
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>

{% endblock %}
