{% extends 'admin_base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h1 class="p-2 text-center" style="border-bottom: 2px solid orange; font-family: 'Georgia', sans-serif; font-size: 2.5em; text-transform: uppercase;">
            All Categories</h1>
        <div class="container-fluid">
            <table class="table table-bordered table-striped" style="border: 2px solid black;" id="example">
                <thead style="background-color: black; color: white;">
                    <tr>
                        <th style="color: white;">S. No.</th>
                        <th style="color: white;">Category Name</th>
                        <th style="color: white; text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in category %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.name }}</td>
                            <td class="text-center">
                                <a href="/edit-category/{{ i.id }}/" class="text-success">Edit</a>
                                <a href="#" class="text-danger" onclick="confirmDelete('{{ i.id }}')">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- JavaScript for delete confirmation -->
<script>
    function confirmDelete(categoryId) {
        if (confirm('Are you sure you want to delete this category?')) {
            window.location.href = '{% url 'delete_category' pid=0 %}'.replace('0', categoryId);
        }
    }
</script>

{% endblock %}
