{% extends 'users/nav.html' %}
{% block title%}Rosecab | Register{% endblock %}
{% block register %}active{% endblock %}
{% load static %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url('{%static 'home/img/service-3.jpg'%}');">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Register</h3>
                            </div>
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                        <form method="POST" class="signin-form">
                            {%csrf_token%}
                            <div class="form-group mb-3">
                                <label for="email">Email address</label>
                                 {{form.email}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="username">Username</label>
                                {{form.username}}

                            </div>
                            <div class="form-group mb-3">
                                <label for="phone">Phone</label>
                                {{form.phone}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="password1">Password</label>
                                {{form.password1}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="password2">Re-type Password</label>
                                {{form.password2}}
                            </div>
                            <div class="form-group">
                                <button type="submit" id="register-button" class="form-control btn btn-primary rounded font-weight-bold submit px-3">
                                    Create account</button>
                            </div>
                        </form>
                        <p class="text-center">Already have an account? <a href="{% url 'users:login' %}">Login</a>
                        </p>
                        <p class="text-center">Go Back to <a href="/">Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src=" {% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src=" {% static 'login/js/main.js' %}"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vedd3670a3b1c4e178fdfb0cc912d969e1713874337387"
    integrity="sha512-EzCudv2gYygrCcVhu65FkAxclf3mYM6BCwiGUm6BEuLzSb5ulVhgokzCZED7yMIkzYVg65mxfIBNdNra5ZFNyQ=="
    data-cf-beacon='{"rayId":"88573eed1ad177b2","b":1,"version":"2024.4.1","token":"cd0b4b3a733644fc843ef0b185f98241"}'
    crossorigin="anonymous"></script>
{%endblock%}