{% extends "store/navbar.html" %}

{%load static%}

{%block title%}Rosecab | My Cart{%endblock%}

{% block content %}
{% if not items %}
<div class="container mx-auto mt-10">
  <div class="w-full bg-white p-10 text-center">
    <h2 class="font-bold">Your cart is empty</h2>
    <div>
      <a id="links" href="{% url 'store:products' %}" class="flex font-semibold text-sm my-5 w-1/4">
        <svg class="fill-current mr-2 w-4" viewBox="0 0 448 512">
          <path
            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
        Continue Shopping
      </a>
    </div>
  </div>
</div>
{% else %}
<div class="container mx-auto mt-10">
  <!-- component -->
  <div class="sm:px-6 w-full">
    <!-- more free and premium Tailwind CSS components at https://tailwinduikit.com/ -->

    <div class="bg-white shadow-2xl rounded-lg py-4 md:py-7 px-4 md:px-8 xl:px-10">

      <div class="flex justify-start">
        <a id="links" href="{% url 'store:products' %}" class="flex font-semibold text-sm my-5 w-1/4">
          <svg class="fill-current mr-2 w-4" viewBox="0 0 448 512">
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
      </div>
      <div class="md:flex-col flex-row items-center justify-between">

        <div class="flex flex-col sm:flex-row items-center justify-between border-b pb-8">

          <div>
            <h1 class="font-semibold text-2xl">Shopping Cart</h1>
          </div>

          <div class="md:ml-4 mt-4 md:mt-0">
            <h2 class="font-semibold text-2xl">{{order.get_cart_items}} Item(s)</h2>
          </div>

          <div class="md:ml-4 mt-4 md:mt-0">
            <h2 class="Comma font-semibold text-2xl">Total: UGX&nbsp;{{order.get_cart_subtotal|floatformat:0}}</h2>
          </div>

        </div>
      </div>

      <div class="mt-7 overflow-x-auto">
        <table class="w-full shadow whitespace-nowrap">
          <thead class="border-b border-neutral-200 bg-red-700 font-medium dark:border-white/10 dark:text-neutral-800">
            <tr class="text-white">
              <th scope="col" class=" px-6 py-4">Product Image</th>
              <th scope="col" class=" px-6 py-4">Product Details</th>
              <th scope="col" class=" px-6 py-4">Quantity</th>
              <th scope="col" class=" px-6 py-4">Unit Price</th>
              <th scope="col" class=" px-6 py-4">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <!-- create table row for each iteration -->
            <tr tabindex="0" class="focus:outline-none h-16 border border-red-400 hover:bg-red-50 rounded-md">
              <!-- IMAGE -->
              <td>
                <div class="ml-10 mt-1 mb-1 ">
                  <div class="w-20">
                    <img class="h-20 rounded-xl" src="{{item.product.image.url}}" alt="" />
                  </div>
                </div>
              </td>
              <!-- DETAILS -->
              <td class="">
                <div class="flex items-center pl-5">
                  <div class="flex flex-col justify-between ml-4 flex-grow">
                    <span class="font-bold text-sm">{{ item.product.name|title }}</span>
                    <span class="text-green-500 text-xs">{{item.variation.size.name}}</span>
                    <form action="{% url 'order:remove-from-cart' item.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="font-semibold hover:text-red-500 text-gray-500 text-xs">
                        Remove
                      </button>
                    </form>
                  </div>
                </div>
              </td>
              <!-- QUANTITY -->
              <td class="pl-5">
                <div class="flex items-center">
                  <form action="{% url 'order:reduce-product-quantity' item.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                      <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                        <path
                          d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                      </svg>
                    </button>
                  </form>
                  <input class="quantity mx-2 border text-center w-12" type="number" value="{{item.quantity}}" min="1"
                    oninput="validity.valid||(value='');" id="{{item.pk}}" />
                  <form action="{% url 'order:increase-product-quantity' item.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                      <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                        <path
                          d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                      </svg>
                    </button>
                  </form>
                </div>
              </td>
              <!-- UNIT PRICE -->
              <td class="pl-10">
                <h1 class="Comma text-center w-1/5 font-semibold text-sm">
                  UGX&nbsp;{% firstof item.variation.price item.product.price|floatformat:0%}
                </h1>
              </td>
              <!-- TOTAL -->
              <td class="pl-6">
                <span class="Comma text-center w-1/5 font-semibold text-sm">UGX&nbsp;
                  {{item.get_total|floatformat:0}}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <div class="mt-5">
        <form action="{% url 'order:checkout' %}" method="POST">
          {% csrf_token %}
          <button id="add-cart-btn" type="submit"
            class="rounded-xl w-1/3 py-2 mt-2 uppercase flex items-center justify-center ml-auto">
            Checkout
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
  $(".Comma").each(function () {
    var amount = parseFloat($(this).text().replace(/[^\d.-]/g, '')); // Remove non-numeric characters
    if (!isNaN(amount)) { // Check if the value is a valid number
      var newAmount = amount.toLocaleString('en-US');
      $(this).text("UGX" + newAmount);
    }
  });
</script>
<script>
  function dropdownFunction(element) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    let list = element.parentElement.parentElement.getElementsByClassName("dropdown-content")[0];
    list.classList.add("target");
    for (i = 0; i < dropdowns.length; i++) {
      if (!dropdowns[i].classList.contains("target")) {
        dropdowns[i].classList.add("hidden");
      }
    }
    list.classList.toggle("hidden");
  }

  // listen to the quantity input and on change send post request to update quantity
  $(document).on("change", ".quantity", function () {
    // get inputed quantity
    var quantity = $(this).val();
    // get id of the order
    var orderItemId = this.id;
    $.ajax({
      url: "{% url 'order:change-product-quantity' %}",
      type: "POST",
      data: {
        orderItemId: orderItemId,
        quantity: quantity,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: location.reload(),
    });
  });
</script>
{% endblock %}