{% extends "store/navbar.html" %}
{%block title%}Rosecab | Checkout{%endblock%}
{% block content %} {% load static%}
<div class="my-5">
  <h1 class="flex items-center justify-center font-bold text-md lg:text-3xl">
    Checkout Page
  </h1>
</div>
<!-- Shipping Option -->
<div class="flex md:w-3/5">
  <div class="w-4/5 mx-auto py-3 bg-white rounded-xl text-center">
    <form action="" id="delivery-form">
      <label class="m-2" for="pay-online">Pay Online</label>
      <input class="m-2" type="radio" name="shipping-option" id="pay-online">
      <label class="m-2" for="delivery">Cash</label>
      <input class="m-2" type="radio" name="shipping-option" id="delivery" checked>
      <label class="m-2" for="carryout">Carry-out</label>
      <input class="m-2" type="radio" name="shipping-option" id="carryout">
    </form>
  </div>
</div>

<div class="flex flex-col md:flex-row">
  <!-- PAY ONLINE INFORMATION -->

  <form id="pay-online-form" method="POST" enctype="multipart/form-data"
    class="md:w-3/5 bg-white rounded-xl p-3 m-3 hidden">
    {% csrf_token %}

    <div class="flex flex-col justify-between mx-3 mb-5 bg-transparent rounded-xl">
      <!-- Payment Method -->
      <div class="p-2 mt-3">
        <h2 class="font-bold mb-3 text-2xl">Payment Method</h2>
        <div class="flex gap-3 mb-3">
          <div>
            <input type="radio" name="payment" id="pay-now" class="peer hidden" checked />
            <label for="pay-now"
              class="cursor-pointer select-none rounded-xl py-2 px-7 text-sm text-center peer-checked:bg-green-300 peer-checked:font-bold">
              Online</label>
          </div>
        </div>
      </div>
      <!-- Contact Info -->
      <div class="p-2">
        <h2 class="font-bold mb-3 text-2xl">Contact Information</h2>
        <div class="flex flex-col w-2/3 mb-5">
          <label class="mb-2 font-bold text-slate-500" for="email">Email:</label>
          <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="email" name="email"
            required />
        </div>
        <div class="flex flex-col w-2/3 mb-2">
          <label class="mb-2 font-bold text-slate-500" for="phone">Phone</label>
          <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="phone"
            required />
        </div>
      </div>
      <!-- Shipping Info -->
      <div class="p-2">
        <h2 class="font-bold mb-5 text-2xl">Shipping Information</h2>
        <div class="flex flex-col">
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              <label class="mb-2 font-bold text-slate-500" for="first_name">First Name</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="first_name"
                required />
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              <label class="mb-2 font-bold text-slate-500" for="last_name">Last Name</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text"
                name="last_name" />
            </div>
          </div>
          <div class="flex flex-col w-full mb-2">
            <label class="mb-2 font-bold text-slate-500" for="address_1">Address</label>
            <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="address_1"
              required />
          </div>
          <div class="flex flex-col w-full mb-2">
            {% comment %} <label class="mb-2 font-bold text-slate-500" for="address_2">Apartment, suite, etc.</label> {% endcomment %}
            <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="address_2" value="None"/>
          </div>
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="city">City</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="city" value="Any"/>
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="country">Country</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="country" value="Uganda"/>
            </div>
          </div>
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="state">State / Provice</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="state" value="None"/>
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="postal_code">Postal Code</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden"
                name="postal_code" value="00000"/>
            </div>
          </div>
        </div>
        
        <div id="error-messages-delivery" class="text-red-500"></div>
      </div>
    </div>
  </form>


  <!-- PAY ON DELIVERY INFORMATION -->
  <form id="address-form" method="POST" enctype="multipart/form-data" class="md:w-3/5 bg-white rounded-xl p-3 m-3">
    {% csrf_token %}

    <div class="flex flex-col justify-between mx-3 mb-5 bg-transparent rounded-xl">
      <!-- Payment Method -->
      <div class="p-2 mt-3">
        <h2 class="font-bold mb-3 text-2xl">Payment Method</h2>
        <div class="flex gap-3 mb-3">
          <div>
            <input type="radio" name="payment" id="cash-delivery" class="peer hidden" checked />
            <label for="cash-delivery"
              class="cursor-pointer select-none rounded-xl py-2 px-7 text-sm text-center peer-checked:bg-green-300 peer-checked:font-bold">
              Cash</label>
          </div>
        </div>
      </div>
      <!-- Contact Info -->
      <div class="p-2">
        <h2 class="font-bold mb-3 text-2xl">Contact Information</h2>
        <div class="flex flex-col w-2/3 mb-5">
          <label class="mb-2 font-bold text-slate-500" for="email">Email:</label>
          <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="email" name="email"
            required />
        </div>
        <div class="flex flex-col w-2/3 mb-2">
          <label class="mb-2 font-bold text-slate-500" for="phone">Phone</label>
          <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="phone"
            required />
        </div>
      </div>
      <!-- Shipping Info -->
      <div class="p-2">
        <h2 class="font-bold mb-5 text-2xl">Shipping Information</h2>
        <div class="flex flex-col">
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              <label class="mb-2 font-bold text-slate-500" for="first_name">First Name</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="first_name"
                required />
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              <label class="mb-2 font-bold text-slate-500" for="last_name">Last Name</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text"
                name="last_name" />
            </div>
          </div>
          <div class="flex flex-col w-full mb-2">
            <label class="mb-2 font-bold text-slate-500" for="address_1">Address</label>
            <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="address_1"
              required />
          </div>
          <div class="flex flex-col w-full mb-2">
            {% comment %} <label class="mb-2 font-bold text-slate-500" for="address_2">Apartment, suite, etc.</label> {% endcomment %}
            <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="address_2" value="None"/>
          </div>
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="city">City</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="city" value="Any"/>
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="country">Country</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="country" value="Uganda"/>
            </div>
          </div>
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="state">State / Provice</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden" name="state" value="None"/>
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              {% comment %} <label class="mb-2 font-bold text-slate-500" for="postal_code">Postal Code</label> {% endcomment %}
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="hidden"
                name="postal_code" value="00000"/>
            </div>
          </div>
        </div>
        <div id="error-messages-delivery" class="text-red-500"></div>
      </div>
    </div>
  </form>

  <!-- CARRY OUT INFORMATION -->
  <form class="md:w-3/5 bg-white rounded-xl p-3 m-3 hidden" id="carryout-form">
    <!-- Payment Method -->
    <div class="p-2 mt-3">
      <h2 class="font-bold mb-3 text-2xl">Payment Method</h2>
      <div class="flex gap-3 mb-3">
        <div>
          <input type="radio" name="payment" id="cash-carryout" class="peer hidden" checked />
          <label for="cash-carryout"
            class="cursor-pointer select-none rounded-xl py-2 px-7 text-sm text-center peer-checked:bg-green-300 peer-checked:font-bold">
            Cash</label>
        </div>
      </div>
    </div>
    <!-- Contact Information -->
    <div class="p-2">
      <h2 class="font-bold mb-3 text-2xl">Contact Information</h2>
      <div class="flex flex-col w-2/3 mb-2">
        <label class="mb-2 font-bold text-slate-500" for="carryout-email">Email</label>
        <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="email" name="carryout-email"
          id="carryout-email" required />
      </div>
      <div class="flex flex-col w-2/3 mb-2">
        <label class="mb-2 font-bold text-slate-500" for="carryout-phone">Phone</label>
        <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="carryout-phone"
          id="carryout-phone" required />
      </div>
    </div>

    <!-- Pick-up Time -->
    <!-- Pick-up Date and Time -->
    <div class="p-2">
      <h2 class="font-bold mb-5 text-2xl">Pick-up Date and Time</h2>
      <div class="flex gap-3 mb-3">
        <div>
          <input type="radio" name="size" id="asap" class="peer hidden" checked />
          <label for="asap"
            class="cursor-pointer select-none rounded-xl py-2 px-5 text-sm text-center peer-checked:bg-cyan-300 peer-checked:font-bold">As
            soon as possible
          </label>
        </div>
        <div>
          <input type="radio" name="size" id="select-time" class="peer hidden" />
          <label for="select-time"
            class="cursor-pointer select-none rounded-xl py-2 px-7 text-sm text-center peer-checked:bg-lime-300 peer-checked:font-bold">
            Select date and time</label>
        </div>
      </div>
      <div class="hidden" id="date-time-picker">
        <input type="date" name="datepicker" id="datepicker" class="w-36 rounded text-center">
        <input type="time" class="w-36 rounded text-center" id="timepicker">
      </div>
    </div>
    <div id="error-messages-carryout" class="text-red-500"></div>

  </form>

  <!-- Order Summary -->
  <div class="md:w-2/5 flex flex-col p-3 m-3 bg-gray-50 rounded-xl">
    <div>
      <h2 class="font-bold mb-5 text-2xl text-center">Order Summary</h2>
      <div class="flex justify-between mx-6 my-3">
        <p>Cart (<strong>{{order.get_cart_items}}</strong>)</p>
        <p class="text-blue-700"><a id="links" href="{% url 'order:cart' %}">Edit</a></p>
      </div>
      <!-- Order Items -->
      <div class="flex flex-col shadow-xl p-2 rounded-xl bg-white">
        {% for item in order_items %}
        <div class="flex gap-3 items-center mx-3 mb-2">
          <img class="w-14 rounded-lg" src="{{item.product.image.url}}" alt="" />
          <div>
            <h3 class="text-slate-500 text-xl">{{item.product.name}}</h3>
            {% if item.product.has_variants %}
            <p>
              Size: <strong>{{item.variation.size.name}}</strong> Price:
              <strong>UGX{{item.variation.price|floatformat:0}}</strong> Qty:
              <strong>{{item.quantity}}</strong>
            </p>
            {% else %}
            <p>
              Price: <strong>UGX{{item.product.price|floatformat:0}}</strong> Qty:
              <strong>{{item.quantity}}</strong>
            </p>
            {% endif %}
          </div>
          <p class="ml-auto font-bold text-xl">UGX{{item.get_total|floatformat:0}}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="flex justify-between m-3 p-3">
      <p>Delivery</p>
      <p class="text-red-600">Not included</p>
    </div>
    <hr />
    <div class="flex justify-between m-3 p-3 font-bold text-xl">
      <p>Total</p>
      <p>UGX{{order.get_cart_total|floatformat:0}}</p>
    </div>

    <!-- Start Payment Button -->

    <div class="flex mt-5" id="add-cart-btn">
      <!-- submit pay online form -->
      <input id="pay-online-submit"
        class="w-2/3 text-center mx-auto font-semibold cursor-pointer p-3 text-sm uppercase hidden" value="Place Order"
        type="submit" form="pay-online-form">
      </input>

      <!-- submit pay on delivery form -->
      <input id="delivery-submit" class="w-2/3 text-center mx-auto font-semibold cursor-pointer p-3 text-sm uppercase"
        value="Place Order" type="submit" form="address-form">
      </input>

      <!-- submit carry-out form -->
      <input id="carryout-submit"
        class="w-2/3 text-center mx-auto font-semibold cursor-pointer p-3 text-sm uppercase hidden" value="Place Order"
        type="submit" form="carryout-form">
      </input>
    </div>
    <!-- End Payment Button -->
  </div>
</div>
</div>


{% comment %} ONLY CASH {% endcomment %}


<script type="text/javascript">
  // listen to radio buttons to switch between Pay online and Pay on delivery forms

  // pay online form
  document.getElementById("pay-online").addEventListener('click', function (event) {
    document.getElementById("pay-online-form").style.display = "block";
    document.getElementById("address-form").style.display = "none";
    document.getElementById("carryout-form").style.display = "none";

    // toggle form submission buttons
    document.getElementById('pay-online-submit').style.display = "block";
    document.getElementById('delivery-submit').style.display = "none";
    document.getElementById('carryout-submit').style.display = "none";
  })

  // pay on delivery form
  document.getElementById("delivery").addEventListener('click', function (event) {
    document.getElementById("address-form").style.display = "block";
    document.getElementById("carryout-form").style.display = "none";
    document.getElementById("pay-online-form").style.display = "none";

    // toggle form submission buttons
    document.getElementById('pay-online-submit').style.display = "none";
    document.getElementById('carryout-submit').style.display = "none";
    document.getElementById('delivery-submit').style.display = "block";
  })

  // carry-out form
  document.getElementById("carryout").addEventListener('click', function (event) {
    document.getElementById("carryout-form").style.display = "block";
    document.getElementById("address-form").style.display = "none";
    document.getElementById("pay-online-form").style.display = "none";


    // toggle form submission buttons
    document.getElementById('carryout-submit').style.display = "block";
    document.getElementById('delivery-submit').style.display = "none";
    document.getElementById('pay-online-submit').style.display = "none";
  })

  var csrftoken = '{{ csrf_token }}';

  // CODE FOR CARRY-OUT CHECKOUT
  var carryOutForm = document.getElementById("carryout-form");
  carryOutForm.addEventListener("submit", (event) => {
    event.preventDefault();
    var carryOutInfo = {};
    carryOutInfo['delivery'] = false;
    carryOutInfo['phone'] = document.getElementById("carryout-phone").value;
    carryOutInfo['email'] = document.getElementById("carryout-email").value;
    // get preparation time selections
    if (document.getElementById('asap').checked == true) {
      carryOutInfo['urgency'] = "asap";
    } else {
      carryOutInfo['urgency'] = "custom";
      const date = document.getElementById('datepicker').value;
      const time = document.getElementById('timepicker').value;
      carryOutInfo['pickup_date'] = date + " " + time;
    }

    // Send POST request to Cash checkout
    fetch("{% url 'order:cash-checkout' order.transaction_id %}", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify(carryOutInfo)
    })
      .then((response) => {
        // Handle carry-out form validations (PickUpDetails Model) for cash payment
        if (response.status == 422) {
          const showError = document.getElementById("error-messages-carryout");
          showError.innerText = ""; // clear field first
          return response.json().then(data => {
            for (let i = 0; i < data['errors'].length; i++) {
              showError.innerText += "\n" + data['errors'][i];
            }
          });
        } else {
          window.location.href = response.url;
        }
      })
      .catch((error) => {
        console.log("Error", error);
      });
  });


  // CODE FOR PAY ONLINE CHECKOUT
  var payOnlineForm = document.getElementById("pay-online-form");
  payOnlineForm.addEventListener("submit", (event) => {
    event.preventDefault();
    // grab data from the form
    const formData = new FormData(payOnlineForm);
    // convert form data into an object
    var payOnlineInfo = {};
    for (var [key, value] of formData.entries()) {
      payOnlineInfo[key] = value;
    }
    // delete csrf middleware token
    delete payOnlineInfo['csrfmiddlewaretoken'];
    // delete payment method
    delete payOnlineInfo['payment'];
    // add Delivery Method
    payOnlineInfo['delivery'] = true;
  
    // Send POST request to Cash checkout
    fetch("{% url 'order:cash-checkout' order.transaction_id %}", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify(payOnlineInfo)
    })
      .then((response) => {
        // Handle validation errors for Shipping Address model - Cash Payment
        if (response.status == 422) {
          const showError = document.getElementById("error-messages-delivery");
          showError.innerText = ""; // clear field first
          return response.json().then(data => {
            for (let i = 0; i < data['errors'].length; i++) {
              showError.innerText += "\n" + data['errors'][i];
            }
          });
        } else {
          window.location.href = response.url;
        }
      })
      .catch((error) => {
        console.log("Error", error);
      });  
  });

  // CODE FOR DELIVERY CHECKOUT
  var deliveryForm = document.getElementById("address-form");
  deliveryForm.addEventListener("submit", (event) => {
    event.preventDefault();
    // grab data from the form
    const formData = new FormData(deliveryForm);
    // convert form data into an object
    var addressInfo = {};
    for (var [key, value] of formData.entries()) {
      addressInfo[key] = value;
    }
    // delete csrf middleware token
    delete addressInfo['csrfmiddlewaretoken'];
    // delete payment method
    delete addressInfo['payment'];
    // add Delivery Method
    addressInfo['delivery'] = true;

    // Send POST request to Cash checkout
    fetch("{% url 'order:cash-checkout' order.transaction_id %}", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify(addressInfo)
    })
      .then((response) => {
        // Handle validation errors for Shipping Address model - Cash Payment
        if (response.status == 422) {
          const showError = document.getElementById("error-messages-delivery");
          showError.innerText = ""; // clear field first
          return response.json().then(data => {
            for (let i = 0; i < data['errors'].length; i++) {
              showError.innerText += "\n" + data['errors'][i];
            }
          });
        } else {
          window.location.href = response.url;
        }
      })
      .catch((error) => {
        console.log("Error", error);
      });
  });

  // listen to radio buttons to show/hide pick-up time and date
  document.getElementById("asap").addEventListener('click', function (event) {
    document.getElementById("date-time-picker").style.display = "none";
  });
  document.getElementById("select-time").addEventListener('click', function (event) {
    document.getElementById("date-time-picker").style.display = "block";
  });

  // set default date in date-picker as today
  var today = new Date();
  var hours = today.getHours();
  var datePicker = document.getElementById('datepicker');
  datePicker.valueAsDate = today;
  // set minimum date as today
  datePicker.setAttribute("min", today.toISOString().substr(0, 10));
  // set default time if now > max set max,
  // if now < min, set min, if between grab closest next hour ignoring minutes
  if (hours >= 21) {
    defaultHours = '9:00pm';
  } else if (hours < 8) {
    defaultHours = '8:30am';
  } else {
    var defaultHours = String(hours + 1);
  }
</script>


{% endblock %}