/* COLORS
[ bg-cyan-200
  orange #FDB515
  burgundy  #800020   rgb(128, 0, 32)
  lighter burgundy rgb(204, 22, 67), #cc1643
  darker orange #FCB00C
  bluey-white: rgb(243, 246, 255)
  style="background-color:rgb(254 202 202); color:white;"


##RED
bg-red-200	background-color: rgb(254 202 202);
bg-red-300	background-color: rgb(252 165 165);
bg-red-400	background-color: rgb(248 113 113);
bg-red-500	background-color: rgb(239 68 68);

##ORANGE
bg-orange-200	background-color: rgb(254 215 170);
bg-orange-300	background-color: rgb(253 186 116);
bg-orange-400	background-color: rgb(251 146 60);
bg-orange-500	background-color: rgb(249 115 22);
bg-orange-600	background-color: rgb(234 88 12);\

##AQUA
.bg-teal-100	background-color: #e6fffa;	
.bg-teal-200	background-color: #b2f5ea;
] */

#card{
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-bottom: 10px;
  color:rgb(227, 62, 103)
}
#service-card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 10px;
}

#serve{
  font-size: 18px;
}
#back-to-top:focus{
  background-color:#800020;
  border-color: #FCB00C;
}

#twitter{
  color: #19b4cf;
  border-color: #ffffff;
}
#twitter:hover {
  color: #212529;
  background-color: #19b4cf;
  border-color: #19b4cf;
}

#twitter:focus{
  background-color: #19b4cf;
  border-color: #19b4cf;
}
#facebook{
  color: #19abcf;
  border-color: #ffffff;
}
#facebook:hover {
  color: #212529;
  background-color: #19abcf;
  border-color: #19abcf;
}

#facebook:focus{
  background-color: #19abcf;
  border-color: #19abcf;
}

#whatsapp{
  color: #19cf5f;
  border-color: #ffffff;
}
#whatsapp:hover {
  color: #212529;
  background-color: #19cf5f;
  border-color: #19cf5f;
}

#whatsapp:focus{
  background-color: #19cf5f;
  border-color: #19cf5f;
}

#instagram{
  color: #d6249f;
  border-color: #ffffff;
}
#instagram:hover {
  color: #ffffff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

#instagram:focus{
  color: #ffffff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

#footer{
  background-image: url('../img/footer_2.svg'), url('../img/footer_3.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 520px, 500px 500px;
  /* background-size: cover; */
  background-position: left, right;
}

